body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background:linear-gradient(to right, #1B4400, #CF5F12);
  font-size:0.975rem;
}
button{
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
